.fundo-deck{
width: 299px;
height: 131px;
background: #FFFFD5;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
border-radius: 5px;
margin-top: 5px;
padding-left: 5%;
padding-top: 5%;

}
.perguntaObj{
    width: 112px;
height: 22px;

font-family: 'Recursive';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #333333;

}
.setinha{
  position: absolute;
  margin-left: 55%;
  margin-top: 20%;
}
.fixar{
    position: fixed;
margin-left: 12%;
margin-right: auto;
overflow-y: scroll;

}
.resposta{
    width: 247px;
height: 44px;

font-family: 'Recursive';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #333333;

}
.butons{
border-radius: 5px;
display: flex;
margin-left: 5px;
margin-top: 5%;
}
.red{
    width: 85.17px;
height: 37.17px;
padding-left: 5%;
background: #FF3030;
border-radius: 5px;
border-color: none;
margin-right: 3px;

}
.orange{
    width: 85.17px;
height: 37.17px;
padding-left: 5%;
background: #FF922E;
border-radius: 5px;
margin-right: 5px;
}
.green{
    width: 85.17px;
height: 37.17px;
padding-left: 5%;
background: #2FBE34;
border-radius: 5px;
}
.info{
    width: 65.04px;
height: 37.17px;

font-family: 'Recursive';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.perguntaErro{
    text-decoration: line-through;
    color: #FF3030;
}
.perguntaDuvida{
    text-decoration: line-through;
    color: #FF922E;
}
.perguntaAcerto{
    text-decoration: line-through;
    color: #2FBE34;
}
.logoMenor{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 13%;
}
main{
    overflow-x: auto;
}
.centralizar{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-top: 15%;
    
}
.text{
    width: 203.17px;
height: 44px;

font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.012em;
margin-left: 5px;
color: #FFFFFF;

transform: rotate(0.58deg)
}
.pequena{
    width: 52px;
height: 60px;
margin-left: 5%;

}
.fundo-branco{
    width: 300px;
height: 65px;

background: #FFFFFF;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
border-radius: 5px;
margin-top: 5px;
padding-left: 5%;
padding-top: 5%;
display: flex;

}
.pergunta{
    width: 87px;
height: 19px;

font-family: 'Recursive';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 19px;

color: #333333
}
.seta{
    width: 20px;
height: 23px;
margin-left: 50%;

}
